@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '';
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
  /* Add additional font formats if needed */
  font-family: 'League Spartan', sans-serif;
}

.input::placeholder {
  font-style: italic;
  font-size: smaller;
}

h1 {
  font-size: 40px;
}

header img {
  display: flex;
  position: relative;
  height: 75px;
  object-fit: contain;
  width: 100%;
}
