@tailwind base;
@tailwind components;
@tailwind utilities;




.input::placeholder {
  font-style: italic;
  font-size: smaller;
}

h1 {
  font-size: 40px;
}

header img {
 
  display: flex;
  position: relative;
  height: 91px;
  object-fit: contain;
  width: 100%;
  max-width: 100px;

}

